.main-content .user-header	{
	width: 800px;
	background-color: #fea993;
	margin:auto;
	color: #000;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0 0;
}

.main-content .user-main 	{
	width: 800px;
	background-color: #fff;
	margin:auto;
	padding: 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	justify-content: center;
}

.main-content .user-main p	{
	position: relative;
	left: 150px;
	top: -28px;
	background-color: white;
	width: 580px;
	border-radius: 5px;
	border: 1px solid #fea993;
	padding-left: 10px;
}

.main-content .user-main a.edit  {
	background-color: #fea993;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	border: solid 2px black;
	padding: 7px 18px 7px 18px;
	text-decoration: none;
	color: black;
	position: relative;
	top: 20px;
	left: 280px;
	cursor:pointer;
	margin-bottom: 30px;
}

.main-content .user-main a.back  {
	background-color: #fea993;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	border: solid 2px black;
	padding: 7px 15px 7px 15px;
	text-decoration: none;
	color: black;
	position: relative;
	top: 20px;
	left: 320px;
	cursor:pointer;
	margin-bottom: 30px;
}

@media(max-width: 850px)	{
		.main-content .user-header	{
		width: 400px;
		background-color: #fea993;
		margin:auto;
		color: #000;
		padding: 10px 0px 10px 0px;
		text-align: center;
		border-radius: 15px 15px 0 0;
	}

	.main-content .user-main 	{
		width: 400px;
		background-color: #fff;
		margin:auto;
		padding: 30px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
		justify-content: center;
	}

	.main-content .user-main h3	{
		font-size: 12px;
	}


	.main-content .user-main p	{
		position: relative;
		left: 115px;
		top: -18px;
		background-color: white;
		width: 240px;
		border-radius: 5px;
		border: 1px solid #fea993;
		padding-left: 10px;
		font-size: 12px;
	}

	.main-content .user-main a.edit  {
		background-color: #fea993;
		border-radius: 5px;
		font-size: 12px;
		font-weight: bold;
		border: solid 2px black;
		padding: 2px 10px 2px 10px;
		text-decoration: none;
		color: black;
		position: relative;
		top: 10px;
		left: 110px;
		cursor:pointer;
		margin-bottom: 30px;
	}

	.main-content .user-main a.back  {
		background-color: #fea993;
		border-radius: 5px;
		font-size: 12px;
		font-weight: bold;
		border: solid 2px black;
		padding: 2px 10px 2px 10px;
		text-decoration: none;
		color: black;
		position: relative;
		top: 10px;
		left: 135px;
		cursor:pointer;
		margin-bottom: 30px;
	}
}
